@page
@model GetService.Areas.Account.Pages.ProfileModel
@{
}

<div class="goodup-dashboard-wrap gray px-4 py-5">
    <a class="mobNavigation" data-bs-toggle="collapse" href="#MobNav" role="button" aria-expanded="false" aria-controls="MobNav">
        <i class="fas fa-bars ms-2"></i>منو
    </a>
    <div class="collapse" id="MobNav">
        <div class="goodup-dashboard-nav sticky-top">
            <div class="goodup-dashboard-inner">
                <ul data-submenu-title="منو">
                    <li><a href="dashboard.html"><i class="lni lni-dashboard ms-2"></i>داشبورد</a></li>
                    <li><a asp-area="" asp-controller="Customer" asp-action="RequestList"><i class="lni lni-files ms-2"></i>درخواست های من</a></li>
                    <li><a href="dashboard-my-bookings.html"><i class="lni lni-briefcase ms-2"></i>لیست رزروها<span class="count-tag bg-warning">4</span></a></li>
                    <li><a href="dashboard-messages.html"><i class="lni lni-envelope ms-2"></i>پیام ها<span class="count-tag">4</span></a></li>
                </ul>
                <ul data-submenu-title="حساب کاربری">
                    <li class="active"><a href="dashboard-my-profile.html"><i class="lni lni-user ms-2"></i>تنظیمات</a></li>
                    <li><a href="dashboard-change-password.html"><i class="lni lni-lock-alt ms-2"></i>تغییر رمز عبور</a></li>
                    <li><a href="javascript:void(0);"><i class="lni lni-trash-can ms-2"></i>حذف اکانت</a></li>
                    <li><a href="login.html"><i class="lni lni-power-switch ms-2"></i>خروج</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="goodup-dashboard-content">

        <div class="dashboard-widg-bar d-block">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 order-xl-last order-lg-last order-md-last">
                    <div class="d-flex bg-white rounded px-3 py-3 mb-3">
                        <div class="dash-figure">
                            <div class="dash-figure-thumb"><img src="~/assetsHomePage/img/team-2.jpg" class="img-fluid rounded" alt="" /></div>
                            <div class="upload-photo-btn">
                                <div class="Uploadphoto">
                                    <span><i class="fas fa-upload"></i> آپلود تصویر</span>
                                    <input type="file" class="upload">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12">
                    <form method="post" class="submit-form">
                        <div class="dashboard-list-wraps bg-white rounded mb-4">
                            <div class="dashboard-list-wraps-head br-bottom py-3 px-3">
                                <div class="dashboard-list-wraps-flx">
                                    <h4 class="mb-0 ft-medium fs-md"><i class="fa fa-user-check ms-2 theme-cl fs-sm"></i>مشخصات شخصی</h4>
                                </div>
                            </div>

                            <div class="dashboard-list-wraps-body py-3 px-3">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label asp-for="@Model.CustomerSummary.FirstName" class="mb-1"></label>
                                            <input asp-for="@Model.CustomerSummary.LastName" type="text" class="form-control rounded"/>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label asp-for="@Model.CustomerSummary.LastName" class="mb-1"></label>
                                            <input asp-for="@Model.CustomerSummary.LastName" type="text" class="form-control rounded"/>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label class="mb-1">پست الکترونیک</label>
                                            <input type="text" class="form-control rounded" placeholder="example@gmail.com" />
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label class="mb-1">شماره تماس</label>
                                            <input type="text" class="form-control rounded" placeholder="09320000000" />
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label class="mb-1">شهر</label>
                                            <select class="form-control">
                                                <option>تهران</option>
                                                <option>کرج</option>
                                                <option>پردیس</option>
                                                <option>پرند</option>
                                                <option>دماوند</option>
                                                <option>بومهن</option>
                                                <option>شهریار</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label class="mb-1">آدرس</label>
                                            <input type="text" class="form-control rounded" placeholder="نواب، خیابان بریانک، خیابان کمیل" />
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label class="mb-1">کد پستی</label>
                                            <input type="text" class="form-control rounded" placeholder="1355984703" />
                                        </div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label class="mb-1">توضیحات</label>
                                            <textarea class="form-control rounded ht-150" placeholder="درباره من..."></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group">
                                <button class="btn theme-bg rounded text-light">ذخیره تغییرات</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
