@using App.Domain.Core.RequestEntity.DTOs
@using Framework
@model List<RequestDto>

@{
    Layout = "_ExpertProfileLayout";
}

<div class="col-xl-12 col-lg-12">
    <div class="dashboard-list-wraps bg-white rounded mb-4">
        <div class="dashboard-list-wraps-head br-bottom py-3 px-3">
            <div class="dashboard-list-wraps-flx">
                <h4 class="mb-0 ft-medium fs-md"><i class="fa fa-file-alt ms-2 theme-cl fs-sm"></i>سوابق کاری شما</h4>
            </div>
        </div>
        @foreach (var request in Model)
        {
            <div class="dashboard-list-wraps-body br-bottom py-3 px-3">
                <div class="dashboard-listing-wraps">
                    <div class="dsd-single-listing-wraps">
                        <div class="dsd-single-lst-thumb"><img src="~/assetsHomePage/img/listing/l-8.jpg" class="img-fluid" alt="" /></div>
                        <div class="dsd-single-lst-caption">
                            <div class="dsd-single-lst-title"><h5>@request.ServiceTitle</h5></div>
                            <span class="agd-location">@request.CustomerName</span>
                            <div class="ico-content">
                                <div class="Goodup-ft-first">
                                    <div class="Goodup-price-range">
                                        <span class="ft-medium">@request.Status.GetEnumDisplayName()</span>
                                    </div>
                                </div>
                            </div>
                            <div class="dsd-single-lst-footer">
                                <a asp-action="GetRequestDetails" asp-route-requestId="@request.RequestId" class="btn btn-view mr-1"><i class="fas fa-eye ms-1"></i>نمایش</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>