@using App.Domain.Core.ServiceEntity.DTOs
@model ServiceDetailsDto
@{
    var RequestCreated = TempData["RequestCreated"] as string;
    var RequestFailed = TempData["RequestFailed"] as string;
}

<div class="w-50 text-center container">
    @if (RequestCreated != null)
    {
        <div class="text-success alert" role="alert">
            @RequestCreated
        </div>
    }
    @if (RequestFailed != null)
    {
        <div class="text-danger alert" role="alert">
            @RequestFailed
        </div>
    }
</div>


<!-- ======================= Searchbar Banner ======================== -->
<div class="featured-slick">
    <div class="featured-gallery-slide">
        <div class="dlf-flew"><a href="~/assetsHomePage/img/painting.jpeg" class="mfp-gallery"><img src="~/assetsHomePage/img/painting.jpeg" class="img-fluid mx-auto" alt="" /></a></div>
        <div class="dlf-flew"><a href="~/assetsHomePage/img/painting.jpeg" class="mfp-gallery"><img src="~/assetsHomePage/img/painting.jpeg" class="img-fluid mx-auto" alt="" /></a></div>
        <div class="ftl-diope"><a href="javascript:void(0);" class="btn bg-white text-dark ft-medium rounded">مشاهده تصاویر</a></div>
        <div class="Goodup-ops-bhri">
            <div class="Goodup-lkp-flex d-flex align-items-start justify-content-start">
                <div class="Goodup-lkp-thumb">
                    <img src="assets/img/burger-king.png" class="img-fluid" width="90" alt="" />
                </div>
                <div class="Goodup-lkp-caption pe-3">
                    <div class="Goodup-lkp-title"><h1 class="text-light mb-0 ft-bold fs-3">خدمت مورد نظر</h4></div>
                    <div class="Goodup-ft-first">
                        <div class="Goodup-rating">
                            <div class="Goodup-rates">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <div class="Goodup-price-range">
                            <span class="ft-medium text-light">34 نظر ثبت شده</span>
                            <div class="d-inline me-2">
                                <span class="active"><i class="fas fa-dollar-sign"></i></span>
                                <span class="active"><i class="fas fa-dollar-sign"></i></span>
                                <span class="active"><i class="fas fa-dollar-sign"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="d-block mt-3">
                        <div class="list-lioe">
                            <div class="list-lioe-single text-nowrap"><span class="ft-medium text-info"><i class="fas fa-check-circle ms-1"></i>203 خرید تا امروز</span></div>
                            <div class="list-lioe-single me-2 pe-3 seperate">
                                <a href="javascript:void(0);" class="text-light ft-medium">بال مرغ</a>,<a href="javascript:void(0);" class="text-light ft-medium me-1">فست فود</a>,<a href="javascript:void(0);" class="text-light ft-medium me-1">سوخاری</a>,<a href="javascript:void(0);" class="text-light ft-medium me-1">پاستا</a>
                            </div>
                        </div>
                    </div>
                    <div class="d-block mt-1">
                        <div class="list-lioe">
                            <div class="list-lioe-single"><span class="ft-medium text-danger">بسته</span><span class="text-light ft-medium me-2">11:00 صبح - 12:00 شب</span></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ======================= Searchbar Banner ======================== -->
    <!-- ============================ Listing Details Start ================================== -->
    <section class="gray py-5 position-relative">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">

                    <!-- About The Business -->
                    <div class="bg-white rounded mb-4">
                        <div class="jbd-01 px-4 py-4">
                            <div class="jbd-details">
                                <h5 class="ft-bold fs-lg ff-second">@Model.Title</h5>

                                <div class="d-block mt-3">
                                    <p>طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
                                    <p class="p-0 m-0">در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Recommended Reviews -->
                    <div class="bg-white rounded mb-4">
                        <div class="jbd-01 px-4 py-4">
                            <div class="jbd-details mb-4">
                                <h5 class="ft-bold fs-lg ff-second">امتیاز و نظر کاربران</h5>
                                <div class="reviews-comments-wrap">

                                    <!-- reviews-comments-item -->
                                    <div class="reviews-comments-item">
                                        <div class="review-comments-avatar">
                                            <img src="assets/img/t-1.png" class="img-fluid" alt="">
                                        </div>
                                        <div class="reviews-comments-item-text">
                                            <h4><a href="#">امید حسن زاده</a><span class="reviews-comments-item-date d-flex align-items-center"><i class="ti-calendar theme-cl ms-1"></i>27 آبان 1400</span></h4>
                                            <span class="agd-location"><i class="lni lni-map-marker ms-1"></i>سانفرانسیسکو، آمریکا</span>
                                            <div class="listing-rating high"><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star active"></i></div>
                                            <div class="clearfix"></div>
                                            <p>" سلام. من و دوستانم بيش از 5 بار است كه از بوفه صبحانه استفاده كرديم. به عنوان صبحانه خيلي خوب است رفتار ميزبان‌ها بسيار محترمانه است. نظر برخي از كاربران مبني بر كم بودن تنوع جاي سوال دارد. "</p>
                                            <div class="pull-left reviews-reaction">
                                                <a href="#" class="comment-like active"><i class="ti-thumb-up"></i> 12</a>
                                                <a href="#" class="comment-dislike active"><i class="ti-thumb-down"></i> 1</a>
                                                <a href="#" class="comment-love active"><i class="ti-heart"></i> 07</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--reviews-comments-item end-->
                                    <!-- reviews-comments-item -->
                                    <div class="reviews-comments-item">
                                        <div class="review-comments-avatar">
                                            <img src="assets/img/t-2.png" class="img-fluid" alt="">
                                        </div>
                                        <div class="reviews-comments-item-text">
                                            <h4><a href="#">نازنین حسینی</a><span class="reviews-comments-item-date d-flex align-items-center"><i class="ti-calendar theme-cl ms-1"></i>2 مهر 1400</span></h4>
                                            <span class="agd-location"><i class="lni lni-map-marker ms-1"></i>لیورپول، لندن انگلستان</span>
                                            <div class="listing-rating mid"><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star"></i></div>
                                            <div class="clearfix"></div>
                                            <p>" درصورتیکه میز کاملاٌ پر شده بود و حداقل یک بار باید میز نظافت و جمع میشد. در نهایت، اصلاٌ توصیه نمیکنم چون هم پول دور ریختنه و هم روز تعطیلتون رو خراب میکنه. "</p>
                                            <div class="pull-left reviews-reaction">
                                                <a href="#" class="comment-like active"><i class="ti-thumb-up"></i> 12</a>
                                                <a href="#" class="comment-dislike active"><i class="ti-thumb-down"></i> 1</a>
                                                <a href="#" class="comment-love active"><i class="ti-heart"></i> 07</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--reviews-comments-item end-->
                                    <!-- reviews-comments-item -->
                                    <div class="reviews-comments-item">
                                        <div class="review-comments-avatar">
                                            <img src="assets/img/t-3.png" class="img-fluid" alt="">
                                        </div>
                                        <div class="reviews-comments-item-text">
                                            <h4><a href="#">مسعود محمدی</a><span class="reviews-comments-item-date d-flex align-items-center"><i class="ti-calendar theme-cl ms-1"></i>10 مرداد 1400</span></h4>
                                            <span class="agd-location"><i class="lni lni-map-marker ms-1"></i>تهران، شهرک اکباتان</span>
                                            <div class="listing-rating good"><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star active"></i><i class="fas fa-star"></i></div>
                                            <div class="clearfix"></div>
                                            <p>" سلام. من و دوستانم بيش از 5 بار است كه از بوفه صبحانه استفاده كرديم. به عنوان صبحانه خيلي خوب است رفتار ميزبان‌ها بسيار محترمانه است. نظر برخي از كاربران مبني بر كم بودن تنوع جاي سوال دارد. "</p>
                                            <div class="pull-left reviews-reaction">
                                                <a href="#" class="comment-like active"><i class="ti-thumb-up"></i> 12</a>
                                                <a href="#" class="comment-dislike active"><i class="ti-thumb-down"></i> 1</a>
                                                <a href="#" class="comment-love active"><i class="ti-heart"></i> 07</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--reviews-comments-item end-->
                                    <div class="clearfix"></div>
                                    <ul class="pagination">
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Previous">
                                                <span class="fas fa-arrow-circle-right"></span>
                                                <span class="sr-only">قبل</span>
                                            </a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item active"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">...</a></li>
                                        <li class="page-item"><a class="page-link" href="#">18</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Next">
                                                <span class="fas fa-arrow-circle-left"></span>
                                                <span class="sr-only">بعد</span>
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Location & Hours -->
                    <div class="bg-white rounded mb-4">
                        <div class="jbd-01 px-4 py-4">
                            <div class="jbd-details mb-4">
                                <h5 class="ft-bold fs-lg ff-second">آدرس و زمان سرویس دهی</h5>
                                <div class="Goodup-lot-wrap d-block">
                                    <div class="row g-4">
                                        <div class="col-xl-6 col-lg-6 col-md-12">
                                            <div class="list-map-lot">
                                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.788351674947!2d51.420654220182854!3d35.70682558028542!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e0170e5559ab5%3A0xd17709cbc12fcc94!2z2K7bjNin2KjYp9mGINi32KfZhNmC2KfZhtuMICYg2K7bjNin2KjYp9mGINiz2b7Zh9io2K8g2YLYsdmG24zYjCDZhdmG2LfZgtmHINu22Iwg2KrZh9ix2KfZhtiMINin2LPYqtin2YYg2KrZh9ix2KfZhtiMINin24zYsdin2YY!5e0!3m2!1sfa!2s!4v1670230928327!5m2!1sfa!2s" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                            </div>
                                            <div class="list-map-capt">
                                                <div class="lio-pact">
                                                    <span class="ft-medium text-info">
                                                        تهران
                                                    </span>
                                                </div>
                                                <div class="lio-pact"><span class="hkio-oilp ft-bold">خیابان طالقانی</span></div>
                                                <div class="lio-pact"><p class="ft-medium">خیابان سپهد قرنی رستوران ماهان</p></div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-lg-6 col-md-12">
                                            <table class="table table-borderless">
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">شنبه</th>
                                                        <td>08:00-24:00</td>
                                                        <td class="text-success">الان باز است</td>
                                                    </tr>
                                                    <tr>
                                                        <td>یکشنبه</td>
                                                        <td>08:00-24:00</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>دوشنبه</td>
                                                        <td>08:00-24:00</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>سه شنبه</td>
                                                        <td>08:00-24:00</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>چهارشنبه</td>
                                                        <td>08:00-24:00</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>پنجشنبه</td>
                                                        <td>08:00-24:00</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <td>جمعه</td>
                                                        <td>08:00-24:00</td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Drop Your Review -->
                    <div class="bg-white rounded mb-4">
                        <div class="jbd-01 px-4 py-4">
                            <div class="jbd-details mb-4">
                                <h5 class="ft-bold fs-lg ff-second">ثبت امتیاز و نظر</h5>
                                <div class="review-form-box form-submit mt-3">
                                    <form>
                                        <div class="row">

                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="form-group mb-3">
                                                    <label class="ft-medium small mb-1">امتیازدهی</label>
                                                    <select class="form-control rounded">
                                                        <option>انتخاب امتیاز</option>
                                                        <option>1 ستاره</option>
                                                        <option>2 ستاره</option>
                                                        <option>3 ستاره</option>
                                                        <option>4 ستاره</option>
                                                        <option>5 ستاره</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-group mb-3">
                                                    <label class="ft-medium small mb-1">نام و نام خانوادگی</label>
                                                    <input class="form-control rounded" type="text" placeholder="نام / نام کاربری">
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-group mb-3">
                                                    <label class="ft-medium small mb-1">پست الکترونیک</label>
                                                    <input class="form-control rounded" type="email" placeholder="پست الکترونیک">
                                                </div>
                                            </div>

                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="form-group mb-3">
                                                    <label class="ft-medium small mb-1">ثبت نظر</label>
                                                    <textarea class="form-control rounded ht-140" placeholder="نظر خود را بنویسید"></textarea>
                                                </div>
                                            </div>

                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="form-group">
                                                    <button type="submit" class="btn theme-bg text-light rounded">ثبت نظر</button>
                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Sidebar -->
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">

                    <!-- order Booking -->
                    <div class="jb-apply-form bg-white rounded py-4 px-4 box-static mb-4">
                        <h4 class="ft-bold mb-1 ff-second fs-5">زمان دریافت سفارش</h4>

                        <div class="Goodup-09kjh">
                            <ul>
                                <li>35 تومان <span>پیک</span></li>
                                <li>ارسال <span>سریع</span></li>
                                <li>35-45 <span>دقیقه</span></li>
                            </ul>
                        </div>

                        @* create Request Modal *@
                        <a asp-area="" asp-controller="Customer" asp-action="CreateRequest" asp-route-id="@Model.ServiceId" class="btn btn-md rounded theme-bg text-light ft-medium fs-sm full-width">ثبت سفارش</a>

                        <button type="button" class="mt-3 btn btn-md rounded theme-bg text-light ft-medium fs-sm full-width" data-bs-toggle="modal" data-bs-target="#CreateRequestModal">مودال</button>
                        <div id="CreateRequestModal" class="modal fade" role="dialog" tabindex="-1">
                            <div class="modal-dialog">
                                <form asp-action="CreateRequest" method="post" class="modal-content">
                                    <div class="text-danger" asp-validation-summary="All"></div>
                                    <div class="modal-header">
                                        <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">توضیحات اضافه</h4>
                                    </div>
                                    <div class="modal-body">
                                        <input name="serviceId" type="hidden" value="@Model.ServiceId" />
                                        <textarea rows="3" cols="4" class="form-control mb-2" name="Description" type="text" placeholder="بنویسید ..." data-sb-validataions="required"></textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <p class="text-right">
                                            <button type="submit" class="btn btn-success btn-round">تایید سفارش</button>
                                            <button type="button" class="btn btn-danger btn-round" data-bs-dismiss="modal">بازگشت</button>
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>

                    <!-- Business Inof -->
                    <div class="jb-apply-form bg-white rounded py-4 px-4 box-static mb-4">
                        <div class="uli-list-info">
                            <ul>

                                <li>
                                    <div class="list-uiyt">
                                        <div class="list-iobk"><i class="fas fa-globe"></i></div>
                                        <div class="list-uiyt-capt"><h5>وب سایت</h5><p>example.com</p></div>
                                    </div>
                                </li>

                                <li>
                                    <div class="list-uiyt">
                                        <div class="list-iobk"><i class="fas fa-envelope"></i></div>
                                        <div class="list-uiyt-capt"><h5>پست الکترونیک</h5><p>support@example.com</p></div>
                                    </div>
                                </li>

                                <li>
                                    <div class="list-uiyt">
                                        <div class="list-iobk"><i class="fas fa-phone"></i></div>
                                        <div class="list-uiyt-capt"><h5>شماره تماس</h5><p>02155555555</p></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="list-uiyt">
                                        <div class="list-iobk"><i class="fas fa-map-marker-alt"></i></div>
                                        <div class="list-uiyt-capt"><h5>آدرس</h5><p>تهران، تهران، ولیعصر، قرنی، طالقانی</p></div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class="row g-3 mb-3">
                        <div class="col-4"><a href="javascript:void(0);" class="adv-btn full-width"><i class="fas fa-camera"></i>افزودن تصویر</a></div>
                        <div class="col-4"><a href="javascript:void(0);" class="adv-btn full-width"><i class="fas fa-share"></i>اشتراک</a></div>
                        <div class="col-4"><a href="javascript:void(0);" class="adv-btn full-width"><i class="fas fa-heart"></i>ذخیره</a></div>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <!-- ============================ Listing Details End ================================== -->
