@using App.Domain.Core.CategoryEntity.DTOs
@model List<GetAllCategoryForMainPageDto>
@{
    ViewData["Title"] = "Category Page";
    Layout = "_AdminLayout";
}

<div class="table-responsive">
    <a asp-action="" class="btn btn-primary round">افزودن</a>
    <table class="table table-bordered table-hover table-striped" id="data-table">
        <thead>
            <tr>
                <th><input type="checkbox" id="btn-check-all-toggle"></th>
                <th>آیدی</th>
                <th>عنوان</th>
                <th>تعداد خدمات</th>
                <td>عملیات</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><input type="checkbox"></td>
                    <td>@item.Id</td>
                    <td>@item.title</td>
                    <td>@item.CountService</td>
                    <td>
                        <a asp-action="DeleteCategory" class="btn btn-danger" asp-route-id="@item.Id">حذف</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>